<html ng-app="RestaurantManagerApp">

<head>
  <title>Restaurant Manager API</title>
</head>
<body>
  <footer class="text-center">
    <p>Home page supporting Restaurant Manager web API</p>
  </footer>
</body>

</html>
